.game {
  background: #d5f6ff;
  height: 100vh;
}

.clouds {
  width: 100px;
  position: absolute;
  top: 10px;
  animation-name: move-right-to-left;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pipeline {
  height: 25px;
  position: absolute;
  bottom: 15px;
  right: 50px;
  animation-name: move-right-to-left;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move-right-to-left {
  from {
    right: -300px;
  }
  to {
    right: 100%
  }
}

.character {
  height: 30px;
  position: absolute;
  bottom: 15px;
  left: 50px;
}

.jump {
  animation-name: character-jump;
  animation-duration: .6s;
  animation-iteration-count: infinite;
}

@keyframes character-jump {
  from {
    bottom: 15px;
  }
  50% {
    bottom: 55px;
  }
  to {
    bottom: 15px
  }
}

.ground {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 15px;
}

.ground-move-first {
  animation-name: move-ground-first;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ground-move-last {
  animation-name: move-ground-last;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move-ground-first {
  from {
    left: 0px;
  }
  to {
    left: -100%
  }
}

@keyframes move-ground-last {
  from {
    left: 100%;
  }
  to {
    left: 0px;
  }
}

.stop-animation {
  animation-play-state: paused;
}